.App {
  text-align: center;
  background: url("./images/bg-intro-desktop.png");
  min-height: 100vh;
  min-width: 100vw;
  background-color: hsl(0, 100%, 74%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10%;
  }
}
